*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.contact{
    position:relative;
    min-height:100vh;
    padding: 21px 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7)url(/img/contact\ us.jpg);
    background-size: cover;
    background-blend-mode:darken;
    font-family: 'Ubuntu', sans-serif;
}
.contact .cont{
    max-width: 800px;
    text-align: center;
}
.contact .cont h2{
    font-size:45px;
    font-weight: 500;
    padding: 0px 0px 10px 0px;
    color:rgb(255, 255, 255);
}
.contact .cont p{
    font-weight: 300;
    color:rgb(255, 255, 255);
}
.system{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}
.contactInfo{
    color:white;
}
.system .contactInfo{
    width:50%;
    display:flex;
    flex-direction:column;
}
.system .contactInfo .box{
    position:relative;
    padding: 35px 0px;
    display: flex;
}
.system .contactInfo .box .icon{
    padding: 13px 20px;
    color: black;
    font-size: 20px;
    background:#fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* padding: 13px 20px;
    color: black;
    font-size: 29px; */
}
.system .contactInfo .box .text{
    display:flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.system .contactInfo .box .text h3{
    font-weight:500;
    color:#00bcd4;
    font-size: 24px;
    font-size: 30px;
    /* font-weight: bold; */
}
.system .contactInfo .box .text p{
    font-size:19px;
}
.contactform{
    width: 40%;
    padding: 40px;
    background:#fff;
}
.contactform h2{
    font-size:30px;
    color:#333;
    font-weight: 500;
}
.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputBox input,
.contactform .inputBox textarea{
    width: 100%;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0px;
    border:none;
    border-bottom:2px solid #333;
    outline:none;
    resize: none;
}
.contactform .inputBox span{
    position: absolute;
    left:0;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0px;  
    pointer-events: none;
    transition: 1s;
    color: #666;
}
.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span{
    color: #e91e63;
    font-size: 15px;    
    transform: translateY(-20px);
}
.contactform .inputBox input[type="submit"]
{
    width: 100px;
    background:#00bbd4b6;
    color:#fff;
    border: none;
    cursor:pointer;
    padding:10px 0px;
}
.contactform .inputBox input[type="submit"]:hover{
    background-color:#00bcd4;
}
.head{
    font-size: 23px;
}
.sub-head{
    font-size: 23px;
    padding: 0px 0px 15px 0px;
}
.navbar{
    z-index:100;
}
