*{
    margin:0;
    padding:0;
}
.logo{
    width: 39%;
    display: flex;
    justify-content: center;
    align-items: center
}
.logo img{
    width:77%;
    margin-left: 13px;
    padding: 0px
}
.navbar{
    display:flex;
    align-items:center;
    justify-content:center;
    position:sticky;
    top:0;
    cursor: pointer; 
}
.nav-list{
    width:60%;
    /* background-color:rgb(0, 0, 0); */
    display:flex;
    align-items: center;
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-list li{
    list-style: none;
    margin-left: 32px;
    /* padding: 20px 26px; */

}
.nav-list li a:hover{
    text-decoration: none;
    color:rgb(182, 182, 182);

}
.nav-list li a{
    text-decoration: none;
    color:white;

}
.rightnav{
    /* background-color:blue; */
    width:40%;
    text-align: right;
    padding: 0px 19px;
}
#search{
    padding:5px;
    font-size: 17px;
    border-radius: 9px;
}
.background{
    background:rgba(0,0,0,0.7)url('../img/food.jpg.jpg');
    background-size: cover;
    background-blend-mode:darken;
}
.firstsection{
    height:100vh;
}
.box-main{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    max-width:50%;
    margin:auto;
    margin-left: 232px
    padding: 73px 0px;
}
.firsthalf{
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding: 83px 3px;

}
.secondhalf{
    margin: 0px -235px 0px 2px;
}
.text-big{
    padding: 32px 0px;
    font-size: 67px;
}
.text-small{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
}
.btn{
    margin:21px 0px;
    cursor: pointer;
    padding: 4px 17px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
    background:none;
    color:white;
    text-decoration: none;
}
.down_button .down_btn a{
    text-decoration: none;
    color:black;
}
.btn:hover{
    color:black;
    background-color:rgba(155, 155, 155, 0.925);
}
/* .side-img{
    
} */
.btn btn-sm{
    padding: 4px 14px;
}
.imgfluid{
    height: 50vh;
    border: 0px solid black;
    border-radius: 14px;
}
.word{
    padding: 75px 60px;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row-reverse;
}
.secright{
    background:#EEFFFA;
    height:80vh;
    display: flex;
}
.section{
    font-size: 28px;
    color: green;
}
.subsection{
    font-size: 45px;
}
.content{
    padding-top: 29px;
    font-size: 28px;
}
.para{
    padding-left:102px;
}
.down_button{
    padding-top: 20px;
}
.down_btn{
    color:black;
    border:2px solid black;
    border-radius: 8px;
    font-size: 19px;
    padding: 7px;
    background: none;
    cursor: pointer;
}
.down_btn:hover{
    background-color:rgba(57, 102, 57, 0.603);
}
.border{
    background-color:black;
    border:5px solid black;
    border-radius: 4px;
}
/* .pad{
    
} */
.text-footer{
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:30px 0px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(20,28,58,.9);

}
.secleft{
    height:80vh;
    background-color: rgba(255, 240, 245, 0.815);
}
.secleft .word{
    display:flex;
    flex-direction:inherit;
}
.buttons .btn a{
    text-decoration: none;
    color:white;
}