*{
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
body{
    margin:0;
    padding:0;
    background-color: #414452;
    max-height: 200vh;
}
input{
    outline:none;
    border: none;
}
.heading img{
    width: 60%;
    
}
/* .logo{
    height:10px;
    
} */
.heading h1{
    font-size:2rem;
    font-weight:600;
    color:#412277;
}
.contain{
    width:80%;
    position: absolute;
    left: 50%;
    top:60%;
    transform: translate(-50%, -50%);
    height:110vh;
    background-color: #f8f9fb;
    display:flex;
    box-shadow: 5px 10px 38px rgba(0,0,0,0.2);
}
.form{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width:55%;
}
.image{
    width:56.5%;
    text-align: right;
}
.img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.wrap2{
    width: 80%;
    position: relative;
    border-bottom: 2px solid #b2b2b2;
    margin-bottom: 13px;
}
.wrap{
    display: flex;
    width: 80%;
    justify-content: center;
}
.f1{
    border-bottom: 2px solid #b2b2b2;
    width: 40%;
    position: relative;

}
.f2{
    border-bottom: 2px solid #b2b2b2;
    margin-left: auto;
    width: 40%;
    position: relative;  
}
label{
    font-size: 12px;
    color: #676768;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    display:flex;
    align-items:center;
    width: 80%;
    min-height: 25px;
    border-bottom: none;
    padding: 15px 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 2px;
}
input{
    display: flex;
    width: 100%;
    font-size: 18px;
    background: transparent;
    color: #0f0f0f;
    font-weight: 500;
    padding: 10px 0px;
}
.btn{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    outline: none;
    font-weight: 500;
    font-size: 1rem;
    border:none;
    background:rgb(91, 192, 91);
    color: #fff;
    box-sizing: 8px 10px 30px rgba(0,0,0,0.2);
    transition: 0.5s;
}
.btn:hover{
    background: rgb(55, 124, 55);
    color:#fff;
    cursor:pointer;
}